<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- footer section start -->
  <footer class="footer text-white bg-dark py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-3 mb-3 mb-lg-0">
          <h5 class="mb-4">About Us</h5>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam at
            felis in eros consectetur vehicula.
          </p>
        </div>
        <div class="col-lg-2 col-md-3 mb-3 mb-lg-0">
          <h5 class="mb-4">Quick Links</h5>
          <ul class="list-unstyled mb-0">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#about-section" class="text-white">About</a></li>
            <li><a href="#product-section" class="text-white">Products</a></li>
            <li><a href="#contact-section" class="text-white">Contact</a></li>
          </ul>
        </div>
        <div class="col-lg-5 col-md-3 mb-3 mb-lg-0">
          <h5 class="mb-4">Contact Us</h5>
          <p class="mb-2">Drono, Sardonoharjo, Ngaglik, Sleman Regency, Special Region of Yogyakarta 55581
          </p>
          <p class="mb-2">Email: rajutin@gmail.com</p>
          <p>Phone: +6234567890</p>
        </div>
      </div>
    </div>
    <div class="footer-line"></div> <!-- Garis atas -->
        <div class="copyright"> <!-- Hak cipta -->
            &copy; 2024 Rajutin. All Rights Reserved.
        </div>
  </footer>
  <!-- End of footer section  -->
</body>
</html>