<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
</head>
<body>
    <!-- nav section start -->
    <section class="header-section">
        <nav class="navbar sticky-top navbar-expand-lg navbar-light fixed-top">
          <div class="container-fluid justify-content-center">
            <a class="navbar-brand" href="../" style="font-weight: bold;">
              <img class="rounded-circle" src="../assets/img/about.jpg" alt="Logo" height="30" />
              Raju<span>Tin</span> 
            </a>
            <div class="d-flex justify-content-end">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="../home/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="../home#about-section">About</a>
                </li>
                <li class="nav-item dropdown AC">
                  <a
                    class="nav-link active dropdown-toggle"
                    href="#product-section"
                    id="navbarDropdown"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Products
                  </a>
                  <ul class="dropdown-menu" href="#product-section" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="../product/tas/">Tas</a></li>
                    <li><a class="dropdown-item" href="../product/pakaian/">Pakaian</a></li>
                    <!-- <li><hr class="dropdown-divider"></li> -->
                    <li><a class="dropdown-item" href="../product/hiasan/">Hiasan</a></li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="../home#contact-section">Contact</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="../gallery/">Gallery</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </section>
      <!-- end of nav section -->
</body>
</html>